<div class="logo">
  <i class="fab fa-suse fa-9x"></i><span class="h1">Solutions </span>
</div>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Hello !<br> welcome to <span class="title">Solutions</span> </h1>
    <h1 class="display-4">ようこそ <span class="title">Solutions</span></h1>
    <h1 class="display-4">你好,歡迎來到 <span class="title">Solutions</span> </h1>
    <p class="lead"><span class="title">Solutions</span> provide place to everyone who is studying language to get more knowledge.</p>
    <p class="lead">語学を勉強してるあなたは、<span class="title">Solutions</span> で、もっと広い、豊富な知識を手に入れましょう！</p>
    <p class="lead"><span class="title">Solutions</span>提供一個交流平台給在學習語言的您。</p>
    <hr class="my-4">
    <p class="center">Get started with our service by login or signup !</p>
    <p class="center">スタートラインは、ログインかサインアップです。</p>
    <p class="center">萬丈高樓、從登錄開始。</p>
    <div class="link_area">
      <a class="btn btn-info btn-lg" href="#" role="button">LOG IN</a>
      <a class="btn btn-info btn-lg" href="#" role="button">SIGN UP</a>
      <p class="signup_area">
        <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          about <i class="fab fa-suse fa-2x"></i>
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          We keep changing to fight a ever change language.<br>
          千変万化の言語に、変わり続ける心。<br>
          對於千變萬化的語言我們只有保持一顆不斷改變的心
        </div>
      </div>
    </div>
  </div>
</div>
<%# <div class="footer">
  <div class="image_repeat">
  </div>
</div> %>

