<div class="accordion width140  rounded marginrightauto" id="accordionExample">

  <div class="card">
    <div class="card-header padiing5" id="headingOne">
      <h5 class="mb-0">
        <p class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ランダムカード
        </p>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        実装するまで、もう少しお待ちを！
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header padiing5" id="headingTwo">
      <h5 class="mb-0">
        <p class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ランダムカード
        </p>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        実装するまで、もう少しお待ちを！
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header padiing5" id="headingThree">
      <h5 class="mb-0">
        <p class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ランダムカード
        </p>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        実装するまで、もう少しお待ちを！
      </div>
    </div>
  </div>
</div>