.padding0 {
  padding: 0;
}

.letter_space {
  letter-spacing: -2px;
}

.upper {
  display: flex;
  justify-content: space-between;
  .signup_area {
    margin-top: 15px;
  }
}

.padding30 {
  padding: 0 30px;
}

.marginbottom10 {
  margin-bottom: 10px;
}

.paddingbottom5 {
  padding-bottom: 5px;
}

.margin0 {
  margin: 0;
}

.paddingbottom50 {
  padding-bottom: 50px;
}

.marginbottomauto {
  margin-bottom: auto;
}

.main {
  height: 100%;
}